#main-container {
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    background-color: #626065;
    padding-bottom: 30px;
    padding-top: 5px;
}

#content {
    background-color: #363636;
    color: #68C834;
    padding-top: 5px;
}
a {
    color: yellow;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    
}
ul {

}